@charset "UTF-8";


body {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  margin: 0px;
  height: auto;
  min-height: 100%;

}
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

header > #cb1 {
    font-size: 70px;
}
#texto1 {
    display: block;
    width: 100%;
    padding: 30px;
    line-height: 2em;
    
}

#texto2 {
    background-image: url("imagens/background001.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: white;
    height: auto;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px black;
}
#texto2 > p {
    padding: 10px;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.411);
    margin: 0px 0px 0px 30px;
    display: block;
    max-height: 550px;
    

}
#texto3 {
    padding: 30px;
    line-height: 2em;
    display: block;
    width: 100%;
    

}

#texto4 { 
    background-image: url("imagens/background002.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: white;
    height: auto;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px black;

}

#texto4 > p {
    padding: 30px;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.411);
    margin-left: 30px;
    display: block;
    width: 100%;
    max-width: 300px;
    height: 570px;

}

#texto5{
    display: block;
    width: 100%;
    padding: 30px;
    line-height: 2em;
    
   
}

footer {

    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: medium;
     }